<div class="d-flex justify-content-center nav-bar-time flex-column py-1">
  <svg
    *ngFor="let route of routes"
    [routerLink]="route.path"
    routerLinkActive="router-link-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="bar-line"
    data-name="Calque 2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 9.56 66.01"
  >
    <defs>
      <style>
        .Layer_1 {
          height: 50px;
        }
        .cls-1 {
          width: 20px;
          height: 10px;
          fill: none;
          stroke: whitesmoke;
          stroke-width: 1px;
        }
      </style>
    </defs>
    <g id="Layer_1" data-name="Layer 1">
      <g>
        <line class="cls-1" x1="5.06" x2="5.06" y2="57.03" />
        <circle class="cls-1" cx="4.78" cy="61.23" r="3.28" />
      </g>
    </g>
  </svg>
</div>
